




/* Boxes
------------------------------------------------ */

/* List style */
.formations ul.thumbnails { 
  list-style: none; 
  margin: 0;
  padding: 0;
  }

.formations .caption-box h4 {
    font-size: 0.94rem;
    color: #444;
    }
.formations .caption-box p {
        font-size: 0.75rem;
        color: #999;
        }
        .btn.btn-mini {
            font-size: 0.63rem;
            }



/* Control box 
------------------------------------------------ */
.formations .control-box {
    width: 100%;
    }
    .formations .carousel-control{
        background: #666 !important;
        border: 0px;
        border-radius: 0px;
        display: inline-block;
        font-size: 34px;
        font-weight: 200;
        line-height: 18px;
        opacity: 0.5;
        padding: 4px 10px;
        margin: 30px -20px 0;
        height: 30px;
        width: 30px;
        }



/* Mobile only
------------------------------------------------ */

@media (max-width: 479px) {
    .formations .caption-box { word-break: break-all; }
    .formations ul.thumbnails li { margin-bottom: 30px; }
}





